@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:wght@200;300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --background: #ccc;
  --light: #eee;
  --grey: gray;

}

.headerContainer {
  background-color: var(--grey);
}

.headerWrapper {
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 1800px;
  padding: 2.5rem 5rem;
  margin: 0 auto;
  color:whitesmoke;
  justify-content: center;
  height: 4rem;
  font-weight: 600;
}

.headerWrapper h1 {
  font-size: 2.3rem;
}

.cvMainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1800px;
  padding: 3rem 6rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}