@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:wght@200;300;400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --background: #ccc;
  --light: #eee;
  --grey: gray;
  --lightactive: #aaa;
  --white-bg: #ffffff;
  --label-color: rgb(130, 139, 162);
}

body {
  background-color: rgb(204, 204, 204);
}

.headerContainer {
  background-color: var(--grey);
}

.headerWrapper {
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 1800px;
  padding: 2.5rem 5rem;
  margin: 0 auto;
  color:whitesmoke;
  justify-content: center;
  height: 4rem;
  font-weight: 600;
}

.headerWrapper h1 {
  font-size: 2.3rem;
}

.cvMainContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1800px;
  
  width: 100%;
  margin-bottom: 3rem;
}

.cvFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  padding: 2rem;
  background-color: var(--white-bg);
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.personalInformationInputsContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
}

input {
  padding: 12px 16px;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  background-color: rgb(239, 242, 249);
}

input:focus, textarea:focus {
  border-bottom: 2px solid blue;
}

label {
  display: flex;
  flex-direction: column;
  color: var(--label-color);
  font-size: 12px;
  line-height: 20px;
}

textarea {
  height: 150px;
  padding: 0.5rem;
  padding-right: 2rem;
  border-radius: 3px;
  border: 1px solid transparent;
  resize: none;
  outline: none;
  background-color: rgb(239, 242, 249);
}

.description {
  grid-column: 1/3;
}

.file input {
  font-size: 13px;
}

.experienceInputContainer, .educationInputContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
}

.Delete {
  grid-column: 1/3;
  background-color: red;
  color: white;
  
}

button {
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}